<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- partials -->
    <%- include('navbar') %>
    <h1>Welcome to out report page</h1>
    <h2>
      <% students.forEach(data => { %> 
        <p>Name: <%= data.name %></p>
        <p>GPA: <%= data.gpa %></p>
        <p>Address: <%= data.address %></p>
      <% }) %>
    </h2>
  </body>
</html>
