<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-zinc-900 text-white">
    <div class="flex flex-col p-10 h-screen">
      <h1 class="text-4xl font-bold mb-8">Welcome to Notes App</h1>
      <form
        action="/create"
        method="POST"
        class="flex flex-col space-y-4 w-full max-w-md"
      >
        <input
          type="text"
          name="title"
          placeholder="Enter Title"
          class="p-2 rounded bg-zinc-800 text-white border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-orange-500"
          required
        />

        <textarea
          name="description"
          placeholder="Enter Description"
          class="p-2 rounded bg-zinc-800 text-white border border-zinc-700 focus:outline-none focus:ring-2 focus:ring-orange-500 resize-none h-32"
          required
        ></textarea>
        <button
          type="submit"
          class="p-2 rounded bg-orange-500 text-white hover:bg-orange-600 cursor-pointer focus:outline-none focus:ring-2 focus:ring-orange-500"
        >
          Submit
        </button>
      </form>

      <div class="task flex gap-4 flex-wrap mt-8">
        <% if (files.length > 0) { %> <% files.forEach((file) => { %>
        <div
          class="task-card p-4 rounded bg-zinc-800 text-white border border-zinc-700 w-full max-w-sm"
        >
          <h2 class="text-2xl font-semibold"><%= file %></h2>
          <p class="mt-2">asdfsdf</p>
          <a
            href="/file/<%= file %>"
            class="text-orange-500 hover:underline mt-2 inline-block"
            >Show more</a
          >
        </div>

        <% }) %> <% } else { %>
        <div
          class="task-card p-4 rounded bg-zinc-800 text-white border border-zinc-700 w-full max-w-sm"
        >
          <h2 class="text-2xl font-semibold">No task found!!</h2>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
