<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body class="min-h-screen w-full bg-gray-100">
    <%- include('partials/nav') %>

    <main class="p-6">
      <h1 class="text-3xl font-bold mt-8 mb-3">Welcome to airbnb</h1>
      <a
        href="/host/add-home"
        class="mt-11 text-gray-600 font-normal hover:text-red-500 py-2 rounded"
        >Add Home</a
      >
      <h1 class="text-2xl font-bold mt-8">Here are our homes</h1>
      <ul class="mt-4 space-y-2">
        <% registeredHomes.forEach(home => { %>
        <li class="p-4 bg-white shadow rounded-lg">
          <span class="text-lg font-semibold"><%= home.houseName %></span>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
